<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>Evara - eCommerce HTML Template</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="user_assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="user_assets/css/main.css?v=3.4">
</head>

<body>
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/" rel="nofollow">Home</a>
                    <span></span> Shop
                    <span></span> Checkout
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mb-sm-15">
                        <div class="toggle_info">
                            <span><i class="fi-rs-user mr-10"></i><span class="text-muted">Already have an account?</span> <a href="#loginform" data-bs-toggle="collapse" class="collapsed" aria-expanded="false">Click here to login</a></span>
                        </div>
                        <div class="panel-collapse collapse login_form" id="loginform">
                            <div class="panel-body">
                                <p class="mb-30 font-sm">If you have shopped with us before, please enter your details below. If you are a new customer, please proceed to the Billing & Shipping section.</p>
                                <form action="/place-order" method="POST">
                                    <div>
                                        <h3>Billing Address</h3>
                                        <input type="text" name="billingAddress[firstName]" placeholder="First Name" required>
                                        <input type="text" name="billingAddress[lastName]" placeholder="Last Name" required>
                                        <input type="text" name="billingAddress[companyName]" placeholder="Company Name">
                                        <input type="text" name="billingAddress[address1]" placeholder="Address 1" required>
                                        <input type="text" name="billingAddress[address2]" placeholder="Address 2">
                                        <input type="text" name="billingAddress[city]" placeholder="City" required>
                                        <input type="text" name="billingAddress[state]" placeholder="State" required>
                                        <input type="text" name="billingAddress[zip]" placeholder="ZIP Code" required>
                                        <input type="text" name="billingAddress[phone]" placeholder="Phone" required>
                                        <input type="email" name="billingAddress[email]" placeholder="Email" required>
                                    </div>
                                    <div>
                                        <h3>Order Notes</h3>
                                        <textarea name="orderNotes" placeholder="Order Notes"></textarea>
                                    </div>
                                    <div>
                                        <h3>Payment Method</h3>
                                        <select name="paymentMethod" required>
                                            <option value="Cash On Delivery">Cash On Delivery</option>
                                            <option value="Credit Card">Credit Card</option>
                                            <option value="PayPal">PayPal</option>
                                        </select>
                                    </div>
                                    <button type="submit">Place Order</button>
                                </form>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    
    
    
    
    
    
    
    
    
    
    
    
   
    <!-- Preloader Start -->
    <!-- <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Vendor JS-->
    <script src="user_assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="user_assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="user_assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="user_assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="user_assets/js/plugins/slick.js"></script>
    <script src="user_assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="user_assets/js/plugins/wow.js"></script>
    <script src="user_assets/js/plugins/jquery-ui.js"></script>
    <script src="user_assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="user_assets/js/plugins/magnific-popup.js"></script>
    <script src="user_assets/js/plugins/select2.min.js"></script>
    <script src="user_assets/js/plugins/waypoints.js"></script>
    <script src="user_assets/js/plugins/counterup.js"></script>
    <script src="user_assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="user_assets/js/plugins/images-loaded.js"></script>
    <script src="user_assets/js/plugins/isotope.js"></script>
    <script src="user_assets/js/plugins/scrollup.js"></script>
    <script src="user_assets/js/plugins/jquery.vticker-min.js"></script>
    <!-- Template  JS -->
    <script src="./user_assets/js/main.js?v=3.4"></script>
    <script src="./user_assets/js/shop.js?v=3.4"></script>
</body>

</html>