<link rel="stylesheet" href="user_assets/css/main.css?v=3.4">

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="user_assets/css/main.css?v=3.4">
    <title>Profile</title>
    <style>
        .dashboard-menu {
            background-color: black;
            color: white;
        }

        .dashboard-menu .nav-item {
            background-color: black;
        }

        .dashboard-menu .nav-link {
            color: white;
        }

        .dashboard-menu .nav-link:hover {
            background-color: #333;
        }

        .dashboard-menu .nav-link.active {
            background-color: rgb(45, 194, 191);
            color: black;
        }

        .card {
            border-radius: 10px;
            overflow: hidden;
        }

        .card-body {
            padding: 20px;
        }

        .card-header {
            background-color: rgb(44, 167, 198);
            color: white;
        }

        .card-header h5 {
            margin: 0;
        }

        .tab-content {
            margin-top: 30px;
        }

        .black-border {
            border: 2px solid black;
            border-radius: 10px;
        }

        .btn-fill-out {
            background-color: black;
            color: white;
        }

        .btn-clear {
            background-color: black;
            color: white;
            width: 100px;
        }

        .btn-fill-out:hover, .btn-clear:hover {
            opacity: 0.8;
        }

        .text-center {
            text-align: center;
        }

        .modal-content {
            border-radius: 10px;
        }

        .modal-header {
            background-color: black;
            color: white;
        }

        .modal-body {
            padding: 20px;
        }

        .container {
            max-width: 960px;
            margin: 0 auto;
        }

        .profile-img {
            border-radius: 50%;
            max-width: 150px;
        }

        .profile-card {
            background-color: rgb(45, 194, 191);
            color: white;
        }

        .profile-card .card-body {
            text-align: center;
        }

        .profile-card h3 {
            margin-top: 10px;
        }

        .tab-content {
            padding: 20px;
            background-color: #f8f9fa;
            border-radius: 10px;
        }

        .form-control.square {
            border-radius: 5px;
            border: 1px solid black;
        }

        .input-style {
            margin-bottom: 15px;
        }

        .input-style label {
            display: block;
            margin-bottom: 5px;
        }

        .submit {
            background-color: black;
            color: white;
        }

        .submit:hover {
            opacity: 0.8;
        }

        .error-message {
            color: red;
            margin-top: 5px;
        }
    </style>
</head>

<body>
    <main class="main">
        <section class="pt-100 pb-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="dashboard-menu">
                                    <ul class="nav flex-column" role="tablist">
                                        <li>
                                            <div class="card profile-card">
                                                <div class="card-body">
                                                    <div class="d-flex flex-column align-items-center text-center">
                                                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="profile-img">
                                                        <div class="mt-3">
                                                            <h3>Hi <span style="color: rgb(255, 204, 0);">!!!</span></h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="orders-tab" href="/orders" role="tab" aria-controls="orders" aria-selected="false">
                                                <i class="bi bi-box2-fill" style="font-size: 1rem;"></i>
                                                Orders
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="address-tab" data-bs-toggle="tab" href="#manageAdress" role="tab" aria-controls="address" aria-selected="true">
                                                <i class="bi bi-houses" style="font-size: 1rem;"></i>
                                                Manage Address
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="account-detail-tab" data-bs-toggle="tab" href="#accountdetails" role="tab" aria-controls="account-detail" aria-selected="true">
                                                <i class="bi bi-person-fill" style="font-size: 1.2rem;"></i>
                                                Account Details
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="changeemail-tab" data-bs-toggle="tab" href="#changeemail" role="tab" aria-controls="changeemail" aria-selected="true">
                                                <i class="bi bi-envelope" style="font-size: 1.2rem;"></i>
                                                Change Email
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/logout">
                                                <i class="fi-rs-sign-out mr-10"></i>
                                                Logout
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="tab-content dashboard-content">
                                    <div class="tab-pane fade active show" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5>Dashboard</h5>
                                            </div>
                                            <div class="card-body">
                                                <p>From your account dashboard, you can easily:</p>
                                                <ul>
                                                    <li>Check and view your <a href="#" style="color: black;">recent orders</a>.</li>
                                                    <li>Manage your <a href="#" style="color: black;">shipping and billing addresses</a>.</li>
                                                    <li>Edit your <a href="#" style="color: black;">password and account details</a>.</li>
                                                    <li>Customized feature: Explore exclusive offers and promotions!</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="manageAdress" role="tabpanel" aria-labelledby="address-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5>Manage Address</h5>
                                            </div>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="card mt-2 mb-3 black-border">
                                                        <div class="card-body">
                                                            <p>Address details go here.</p>
                                                            <a href="" class="btn btn-sm btn-fill-out">Edit</a>
                                                            <button class="btn btn-sm btn-fill-out" onclick="deleteAdress('')">Delete</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="accountdetails" role="tabpanel" aria-labelledby="account-detail-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5>Account Details</h5>
                                            </div>
                                            <div class="card-body">
                                                <form method="post" action="/editprofile">
                                                    <div class="row">
                                                        <div class="form-group col-md-6">
                                                            <label>Name <span class="required">*</span></label>
                                                            <input required="" class="form-control square black-border" id="proname" name="name" type="text" value="">
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label>Mobile Number <span class="required">*</span></label>
                                                            <input required="" class="form-control square black-border" id="pronumber" name="mobile" type="number" value="">
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label>Email Address <span class="required">*</span></label>
                                                            <input required="" class="form-control square black-border" name="email" type="email" value="" readonly>
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label>Password <span class="required">*</span></label>
                                                            <input required="" class="form-control square black-border" name="password" type="password">
                                                        </div>
                                                        <div class="col-md-12">
                                                            <button type="submit" class="btn btn-fill-out">Save</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="changeemail" role="tabpanel" aria-labelledby="changeemail-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5>Change Email</h5>
                                            </div>
                                            <div class="card-body">
                                                <form method="post" action="/changeemail">
                                                    <div class="row">
                                                        <div class="form-group col-md-12">
                                                            <label>New Email Address <span class="required">*</span></label>
                                                            <input required="" class="form-control square black-border" name="newEmail" type="email" placeholder="Enter new email">
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <button type="submit" class="btn btn-fill-out">Change Email</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Add Bootstrap JS and Popper.js for the functionality of tabs and modals -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.min.js"></script>
</body>

</html>
